page-register {

    //General settings
    .default {
        height: 100%;
        width: 100%;
        background: #722f37; 
    // background: radial-gradient(pink, white, black);
    }

    #coverPic {
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 0.5em;
        opacity: 0.9;
    }

    .item-input {
        background-color: transparent;
    }

    .button {
        margin-top: 1em;
    }

    ion-input {
        color: white;
        opacity: 0.9;
    }

    #icon1 {
        margin-right: 0.5em;
        margin-left: -0.5em;
    }

    #icon2 {
        margin-left: 0.5em;
        margin-right: -0.5em;
    }

}