page-home {

//General settings
.default {
    height: 100%;
    width: 100%;
    background: #722f37; 
    // background: radial-gradient(pink, white, black);
}

.item-input {
    background-color: transparent;
}

.button {
    margin-top: 1em;
}

ion-input {
    color: white;
}


  
}