page-home {
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#grad {
    height: 100%;
    width: 100%;
    background: white; /* For browsers that do not support gradients */
    background: radial-gradient(pink, white, black); /* Standard syntax (must be last) */
  }

  .item-input {
    background-color: transparent;
}


  
}